@import url('https://fonts.googleapis.com/css?family=Varela');
* {
  box-sizing: border-box;
}
#banner {
  color: #b8b4b4;
  text-align: center;
  line-height: 1vh;
  width: 100vw;
  background-color: white;
  padding-top: 4vh;
  padding-bottom: 4vh;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
#banner #icon_bar {
  word-spacing: 1vw;
}
#banner #icon_bar i {
  font-size: x-large;
}
#banner h1 {
  color: #141414;
  font-family: 'Varela', sans-serif;
  -webkit-transition: 1s;
  transition: 1s;
}
#banner h1:hover {
  cursor: pointer;
}
#banner h1:hover {
  letter-spacing: 1vh;
}
#banner i:hover {
  color: black;
  cursor: pointer;
}
body {
  background-color: #f5f5f5;
  color: #8b8989;
}
nav {
  padding: 0!important;
}
a {
  color: #b8b4b4;
}
a:hover {
  text-decoration: none;
  color: #b8b4b4;
}
.links-menu {
  margin: 0;
  display: flex;
  margin-left: -40px;
  list-style-type: none;
  justify-content: center;
}
@media screen and (max-width: 48em) {
  .links-menu {
    flex-direction: column;
  }
}
.links-menu .menu-item {
  padding: 10px;
}
.links-menu .menu-item:hover {
  background-color: white;
  cursor: pointer;
}
.navbar-brand {
  display: none;
}
@media screen and (max-width: 48em) {
  .navbar-brand {
    display: block;
  }
}
.sub-menu {
  z-index: 99999;
  position: absolute;
  list-style-type: none;
  display: none;
  padding: 10px;
  margin-left: -10px;
  background-color: #292e32;
}
@media screen and (max-width: 48em) {
  .sub-menu {
    position: relative;
    background-color: #f5f5f5;
  }
}
.menu-item-has-children i {
  font-size: 0.7em;
}
.menu-item-has-children:hover i {
  font-size: 0.7em;
}
.menu-item-has-children:hover .sub-menu {
  margin-top: 10px;
  padding: 0;
}
.menu-item-has-children:hover .sub-menu li {
  margin: 0;
  border-bottom: 0.1px solid #b8b4b4;
}
.menu-item-has-children:hover .sub-menu li:hover {
  background-color: #292e32;
}
.classhome {
  display: inline-block;
  border-radius: 4px;
  background-color: white;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  display: -ms-flexbox;
  padding: 2em;
}
.classhome img {
  border-radius: 4px;
  position: relative;
  z-index: 1;
}
.classhome h3 {
  color: #292e32;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  font-size: larger;
}
.classhome a {
  color: #141414;
}
.classhome a:hover {
  color: #b8b4b4;
  text-decoration: none;
}
.classhome span a {
  color: #b8b4b4;
}
.classhome span a:hover {
  color: #141414;
  text-decoration: none;
}
.classhome div {
  display: flex;
  flex-direction: column;
}
.classhome .img-comments {
  background-repeat: no-repeat;
  background-size: 38px;
  background-position: center;
  position: relative;
  z-index: 999;
  margin-top: -1.3em;
}
.number-comments {
  display: flex;
  justify-content: center;
  color: white;
  margin-top: 7px;
}
.my-masonry-image-list {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}
@media screen and (max-width: 64em) {
  .my-masonry-image-list {
    -webkit-column-count: 2;
    /* Chrome, Safari, Opera */
    -moz-column-count: 2;
    /* Firefox */
    column-count: 2;
  }
}
@media screen and (max-width: 35.5em) {
  .my-masonry-image-list {
    -webkit-column-count: 1;
    /* Chrome, Safari, Opera */
    -moz-column-count: 1;
    /* Firefox */
    column-count: 1;
  }
}
.navigation {
  text-align: center;
}
.navigation a {
  color: #141414;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
}
.navigation a:hover {
  color: white;
  background-color: #141414;
  border-radius: 4px;
}
.navigation span {
  color: white;
  background-color: #141414;
  border-radius: 4px;
}
.navigation a,
.navigation span {
  padding: 10px 18px;
}
.sidebar_page_content {
  display: flex;
  justify-content: center;
}
.sidebar_page_content ul {
  margin-left: 0;
  margin-right: 0;
}
.page-title {
  color: #141414;
  text-transform: uppercase;
}
#aside-widget-area {
  display: flex;
  flex-direction: column;
  height: 50vh;
  width: 15vw;
  padding: 2vh 1vw 2vh 1vw;
  background-color: #292e32;
  position: sticky;
  position: -webkit-sticky;
  top: 0;
}
#aside-widget-area h2 {
  text-transform: uppercase;
  font-size: x-large;
}
#aside-widget-area ul {
  padding: 0;
}
#aside-widget-area li {
  list-style: none;
}
#aside-widget-area li a {
  color: white;
}
#aside-widget-area li a:hover {
  color: #8b8989;
}
#aside-widget-area #searchbar {
  margin-bottom: 2vh;
  width: 100%;
  position: relative;
}
#aside-widget-area #searchbar input {
  width: 80%;
  outline: none;
}
#aside-widget-area #searchbar button {
  background-color: #8b8989;
  position: absolute;
  border: 2px solid #8b8989;
  cursor: pointer;
}
#aside-widget-area #searchbar button i {
  color: white;
}
#aside-widget-area .tagcloud a {
  color: white;
  text-transform: capitalize;
  background-color: #8b8989;
  padding: 1vh;
}
#aside-widget-area .tagcloud a:hover {
  color: #8b8989;
  background-color: white;
}
.single_article {
  background-color: #f5f5f5;
  padding: 2vh 1vw 2vh 1vw;
}
.single_article .img-comments {
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  position: relative;
  z-index: 999;
  margin-top: -2em;
}
.single_article .img-comments .number-comments {
  padding-top: 10px;
}
.single_article article {
  background-color: white ;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  border-radius: 4px;
  text-align: center;
}
.single_article header h2 {
  color: #141414;
  text-transform: uppercase;
}
.single_article header h2:hover {
  color: #8b8989;
}
.single_article header p,
.single_article header a {
  text-align: center;
  padding-top: 0;
  padding-bottom: 0;
  margin-bottom: 0;
}
.single_article header p:hover,
.single_article header a:hover {
  color: #141414;
}
.single_article .imgsingle {
  margin-top: 3vh;
  border-radius: 4px;
  width: 80%;
}
.single_article p {
  padding: 2vh 0 2vh 0;
  text-align: justify;
}
.single_article hr {
  width: 80%;
  border-top: 5px solid #f5f5f5;
}
.single_article .comment-respond h3 {
  text-align: left;
  text-transform: uppercase;
  color: #141414;
  padding: 2vh 10vw 2vh 10vw;
}
.single_article .comment-form p {
  text-align: left;
}
.single_article .comment-form textarea {
  border: 5px solid #f5f5f5;
  width: 100%;
}
.single_article .comment-form .submit {
  color: white;
  background-color: black;
  border: none;
  margin-bottom: 5vh;
  padding: 0.5em;
  cursor: pointer;
}
.single_article .comment-form .submit:hover {
  background-color: #292e32;
}
.single_article .comment-form .comment-form-cookies-consent {
  display: none;
}
h3 {
  text-align: left;
}
.commentlist {
  text-align: left;
  list-style: none;
}
.commentlist .comment-body::after {
  content: "d";
  font-size: 3px;
  background-color: #f5f5f5;
  padding-left: 100%;
}
.commentlist .children {
  list-style: none;
}
.commentlist .reply {
  text-align: right;
}
.commentlist .reply a {
  background-color: #141414;
  color: white;
  padding: 0.5em;
}
.commentlist img {
  float: left;
  margin: 0.5em;
  height: 50px;
  width: 50px;
  border: 3px solid #f5f5f5;
  border-radius: 4px;
}
.commentlist .comment-meta {
  font-size: 12px;
}
.commentlist .comment-author {
  color: #141414;
}
.prev_next_article {
  display: flex;
  justify-content: space-between;
  margin-top: 5vh;
  margin-bottom: 3vh;
}
.prev_next_article a {
  background-color: white;
  border-radius: 4px;
  -webkit-box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 2px 1px -1px rgba(0, 0, 0, 0.2), 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12);
  min-width: 12vh;
  height: 5vh;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1em;
}
.prev_next_article a:hover {
  background-color: #141414;
  color: white;
}
.prev_next_article a:first-child::before {
  content: " ←";
}
.prev_next_article a:last-child::after {
  content: " →";
}
.single_article form p {
  text-align: center;
}
footer {
  background-color: #292e32;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 17vh;
  flex-direction: column;
}
footer ul {
  display: flex;
  min-width: 25vw;
  justify-content: space-evenly;
}
footer li {
  list-style: none;
}
footer a {
  color: #8a8a8a;
}
