//Header
.cat-menu {
  display: flex;
  flex-direction: column;
}
//Header
// Home

.masonry-columns(@columns) {
    -webkit-column-count: @columns; /* Chrome, Safari, Opera */
  -moz-column-count: @columns; /* Firefox */
  column-count: @columns;
}
.my-masonry-image-list {
    .masonry-columns(3);
  }
// Home
//Footer
footer
{
  background-color: #292e32;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 15vh;
}
//Footer