//import
@import '_variable.less';
@import '_mixin.less';
@import url('https://fonts.googleapis.com/css?family=Varela');
//import

#banner
{
  text-align: center;
  line-height: 1vh;
  width: 100vw;
  background-color: white;
  padding-top: 2vh;
  padding-bottom: 2vh;

  h1
  {
    color: black;
    font-family: 'Varela', sans-serif;
    -webkit-transition: 1s;
    transition: 1s;
  }
h1:hover
 {
   letter-spacing: 1vh;
 }

  i:hover
  {
    color: black;
  }
}

.home {
  background-color: @fondsite;
  color: @bodycolor;
}


//Header

a {
  color: @baselinecolor;
}
a:hover{
  text-decoration: none;
  color: @baselinecolor;
}
.cat-menu {
  display: flex;
  flex-direction: column;
}
.links-menu {
  width: 40%;
  display: flex;
  list-style-type: none;
  justify-content: space-between;

}
.sub-menu{
  z-index: 99999;
  position: absolute;
  list-style-type: none;
  //margin-left: -40px;
  display: none;
  padding: 10px;
  background-color: @grisfonce;
}

.menu-item-has-children:hover{
  .sub-menu{
    display: block;
  }
}
.menu-item-has-childre::after{
  content: '+';
}
//Header
// Home

.masonry-columns(@columns) {
    -webkit-column-count: @columns; /* Chrome, Safari, Opera */
  -moz-column-count: @columns; /* Firefox */
  column-count: @columns;
}
.my-masonry-image-list {
    .masonry-columns(3);
  }
// Home
//Footer
footer
{
  background-color: #292e32;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 17vh;
  flex-direction: column;


  ul
  {
    display: flex;
    min-width: 25vw;
    justify-content: space-evenly;
  }

  li
  {
    list-style: none;
  }

  a
  {
    color: #8a8a8a;
  }
}
//Footer