//Header

//Header
// Home

.masonry-columns(@columns) {
    -webkit-column-count: @columns; /* Chrome, Safari, Opera */
  -moz-column-count: @columns; /* Firefox */
  column-count: @columns;
}
.my-masonry-image-list {
    .masonry-columns(3);
  }
// Home
//Footer

//Footer