@import url('https://fonts.googleapis.com/css?family=Varela');
h1 {
  font-family: 'Varela', sans-serif;
  -webkit-transition: 1s;
  transition: 1s;
}
h1:hover {
  letter-spacing: 1vh;
}
.cat-menu {
  display: flex;
  flex-direction: column;
}
.my-masonry-image-list {
  -webkit-column-count: 3;
  /* Chrome, Safari, Opera */
  -moz-column-count: 3;
  /* Firefox */
  column-count: 3;
}
footer {
  background-color: #292e32;
  color: #8a8a8a;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 17vh;
  flex-direction: column;
}
footer ul {
  display: flex;
  min-width: 25vw;
  justify-content: space-evenly;
}
footer li {
  list-style: none;
}
footer a {
  color: #8a8a8a;
}
